*{
margin: 0;
padding: 0;
}

h1{
color: rgb(250, 1, 1);
text-align: center;
font-weight: 100;
text-decoration:underline solid rgb(61, 9, 9);
}



h2{
color: rgb(27, 27, 240);

}

.algo{
margin: 15px 600px;
border: 10px solid rgb(150, 16, 234);
text-align: center;
background-color: rgb(240, 248, 255);
padding:15px ;

}

 .titulo{
color: rgb(81, 3, 3);
font-weight: bold;
 }


.cosa{
margin: 15px 600px; 
border: 10px solid rgb(12, 46, 241);
text-align: center;
background-color: rgb(240, 246, 252);
padding: 15px;
}

.link{
color: rgb(138, 43, 226);
margin: 3px;
text-align: center;
}

.vaina{
margin: 3px; 
border: 10px solid rgb(33, 243, 58);
text-align: center;
background-color: rgb(240, 246, 252);
margin: 15px 600px;
padding:15px ;
}



