h1{ color: #b51af3;

}

a:link { color:#fb8500;
text-decoration: none;
}
a:visited{ color:#219Ebc;
    text-decoration: none;
}

a:hover{
color:black;
text-decoration: underline;

}

a:active{

color:#c71b05;
text-decoration: underline;

}