
      h1 {
        color: blue;
        background-color: rgb(24, 30, 36);
        text-align: center;
        
      }
      p {
        color: brown;
        background-color: black;
        padding: 15px;
        border: 10px solid #1d3557;
        margin-top: 10px;
        margin: auto;
        text-align: center;
      }
